<div class="content has-header padding">
<h1>Login Screen</h1>
<a href="#/loginform/facebook" class="button button-block button-positive">
<!-- <button ng-click="login('facebook')" class="button button-block button-positive"> -->
 Login with Facebook
</a>
<a href="#/loginform/twitter" class="button button-block button-calm">
 Login with Twitter
</a>
<a href="#/loginform/instigram" class="button button-block button-assertive">
 Login with Instigram
</a>
<a href="#/loginform/bbcid" class="button button-block button-dark">
 Login with BBCid
</a>
</div>